.sidebar {
  padding-top: 1.4rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
}

.headline-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #d9e1ec;
}


