h3 {
  font-size: 1.2rem;
  margin-bottom: 0rem;
}

.tool-item {
  margin-bottom: 1rem;
}

.tool-item-icon {
  display: flex;
  align-items: center;
}

.tool-item-desc {
  display: flex;
  align-items: center;
}

.tool-item-desc-text {
  font-size: 1rem;
}

.tool-item-desc-misc {
  font-size: 0.8rem;
  color: #6e7a8a;
}

.tool-item-vote-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.tool-item-vote {
  width: 70px;
  height: 70px;
  border: 0.5px solid #d9e1ec;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}