.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: 1rem;
  font-weight: 700;
  color: #2da7c8;
  text-decoration: none;
}

.nav-link:hover {
  color: #1e7e94;
}

.header {
    padding: 1rem;
    background-color: #f5f7fa;
    border-bottom: 1px solid #d9e1ec;
  }

.vertical-center {
  display: flex;
  align-items: center;
}

.dropdownmenu {
  background-color: #f9f9f9;
  min-width: 150px;
  padding: 10px 10px 10px 10px;
  margin-top: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownmenuitem {
  padding: 10px 0 0 10px;
  color: #2da7c8;
}
.dropdownmenulogout {
  padding: 5px 0 0 10px;
  color: #2da7c8;
}

.dropdownToggleWithoutCaret::after {
  display: none;
}
