.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: 1rem;
  font-weight: 700;
  color: #2da7c8;
  text-decoration: none;
}

.nav-link:hover {
  color: #1e7e94;
}


.header {
    padding: 1rem;
    background-color: #f5f7fa;
    border-bottom: 1px solid #d9e1ec;
  }

.vertical-center {
  display: flex;
  align-items: center;
}





.debugging {
  position: absolute;
  right: 20px;
}