h4 {
  font-size: 1rem;
  margin-bottom: 0rem;
  color: black;
}

a {
  text-decoration: none;
}

.sidebar {
  border-left: 1px solid #d9e1ec;
  padding-top: 1.4rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  min-height: 98%;
}

.headline-row {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  border-bottom: 1px solid #d9e1ec;
}

.sidebar-item {
  margin-bottom: 1rem;
}

.sidebar-item:hover {
  background-image: radial-gradient(circle, #47d0f538, white);
}

.sidebar-item-icon {
  display: flex;
  align-items: center;
}

.sidebar-item-desc {
  display: flex;
  align-items: center;
}

.sidebar-item-desc-misc {
  font-size: 0.8rem;
  color: #6e7a8a;
}

.sidebar-profile-image {
  border-radius: 50%;
}
