.sidebar {
  padding-top: 1.4rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
}

.headline-row {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  border-bottom: 1px solid #d9e1ec;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0rem;
}

.sidebar-item {
  margin-bottom: 1rem;
}

.sidebar-item-icon {
  display: flex;
  align-items: center;
}

.sidebar-item-desc {
  display: flex;
  align-items: center;
}

.sidebar-item-desc-misc {
  font-size: 0.8rem;
  color: #6e7a8a;
}

.sidebar-profile-image {
  border-radius: 50%;
 }